@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

.land {
  fill: white;
  fill : #E2C4A5;
  stroke: none;
  fill-opacity:0.2;
  stroke : white;
  fill-opacity:1;
  stroke-width:0.4;
}

.schengen {
  fill: #E5BF64;
  stroke: #E5BF64;
  fill-opacity:1;
}

.dots {
  fill: #C00418;
  stroke: white;
  stroke-width:0.4;
}

.legend {
  fill: white;
  stroke: black;
  stroke-width:0.4;
  fill-opacity:0.4;
}

.legendline {
  stroke: black;
  stroke-width:0.3;
  stroke-dasharray: 2;
}

.txtlegend {
  font-family: 'Tahoma', sans-serif;
  fill: #45443f;
  font-size: 10px;
  
}

.txtshengen {
  font-family: 'Tahoma', sans-serif;
  fill: #E5BF64;
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
}

.links {
  stroke: #65627a;
  fill : none;
  stroke-width:1.1;
}

.sphere {
  fill:none ;
  stroke: white;
  stroke-width: .5px;
  stroke-opacity: .5;
  stroke-dasharray: 2
}


.bbox {
  fill:white ;
  fill-opacity: 0.2;

}

.banner {
  fill:white ;
  stroke: none;
  fill-opacity: 0.5;
}

.bannerstat {
  fill:#C00418 ;
  stroke: none;
  fill-opacity: 0.8;
}

.chart {
  fill: #C00418;
  stroke: white;
  stroke-width:0.4;
  }

.txtchart {
  font-family: 'Tahoma', sans-serif;
  fill: #45443f;
  font-size: 10px;
}

.txtchart2 {
  font-family: 'Tahoma', sans-serif;
  fill: #C00418;
  font-size: 10px;
}

.txthelp {
  font-family: 'Tahoma', sans-serif;
  fill: #45443f;
  font-size: 11px;
}

.stats {
  font-family: 'Tahoma', sans-serif;
  fill: white;
  font-size: 13px;
}

.legtitle {
  font-family: 'Tahoma', sans-serif;
  fill: #45443f;
  font-size: 16px;
  font-weight: bold;
}

.update {
  font-family: 'Tahoma', sans-serif;
  fill: #404040;
  font-size: 12px;
  font-weight: bold;
}

.txtlabel{
  font-family: 'Tahoma', sans-serif;
  fill: #45443f;
  opacity:1;
  font-size: 12px;
  font-weight: bold;
}

.txtlabelhalo{
  font-family: 'Tahoma', sans-serif;
  fill: white;
  stroke:white;
  stroke-width:15px;
  stroke-opacity:0.2;
  font-size: 12px;
  font-weight: bold;
}

.maptitle {
  font-family: 'Tahoma', sans-serif;
  fill: #90a0a3;
  font-size: 35px;
  font-weight: bold;
}


.route {
  font-family: 'Tahoma', sans-serif;
  fill: white;
  font-size: 22px;
  font-weight: bold;
}

.routerect {
  fill:#C00418 ;
  stroke: none;
  fill-opacity: 0.8;
}



